.bookingContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 1200px;
  width: 100vw;
}
.ticketingProcess {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 150px;
  width: 100%;
  align-items: center;
  align-content: space-around;
}

.totalDetails {
  display: flex;
  height: 1000px;
  width: 100vw;
  justify-content: center;
}

.messageContainer {
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.message {
  height: 100%;
  width: 83%;
  background: #e8e8e8;
}

.head {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(63, 199, 63);
  font-size: 34px;
}
.head div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 82%;
  border-radius: 10px;
  background-color: white;
}

.detailsCont {
  display: flex;
  height: 65%;
  align-items: center;
  justify-content: center;
}
.details {
  padding: 7px 22px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  height: 95%;
  background-color: #ffffff;
  justify-content: center;
}
.userdetails {
  color: rgb(102, 102, 102);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid gray;
}
.userdetails span {
  color: rgb(0 0 0);
  font-size: 18px;
  font-weight: 500;
}

.mediaCont {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media {
  background-color: #ffffff;
  height: 59%;
  width: 66%;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
}

.mediaIcon{
  display: flex;
  width: 23%;
  height: 60%;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.mediaIcon:hover{
  background-color: rgb(189, 228, 235);
}

.footer {
  height: 380px;
  width: 100vw;
  background-color: rgb(11, 53, 82);
}
